
<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>Welcome to the Site!</h2>
    <p>The best place to be</p>

    <a href="/" class="btn btn-lg btn-primary">Get Started</a>
    <a href="/contact" class="btn btn-lg btn-primary">Contact</a>
  </div>
</section>

<%- contentFor('top') %>
<div class="row my-extra-padding">

  <div class="col-sm-4">
    <div class="my-float-left" id="buttons">
      <button type="button" class="btn btn-default" id="assignToUser">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Assign
      </button>
      <button type="button" class="btn btn-default" id="returnItems">
        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Return
      </button>
    </div>
  </div>

  <div class="col-sm-4">

  </div>

  <div class="col-sm-4">
    <div class="dropdown my-float-right">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownUsersButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Users
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUsersButton" id="dropdownUsersList">
        <% for (item of users) { %>
          <li <% if (item.State == 'disabled') { %> class="disabled" <% } %> ><a href="#"><%= item.Name %></a></li>
        <% } %>
      </ul>
    </div>
  </div>

</div>

<%- contentFor('middle') %>
<!--
<div class="jumbotron text-center">
  <h2>Waracle Devices</h2>
</div>
-->
<table class="table table-condensed" id="devicesTable">
  <thead>
    <tr>
      <th id="name">Device Name</th>
      <th id="os">OS</th>
      <th id="version">Version</th>
      <th id="notes">Notes</th>
      <th id="location">Location</th>
    </tr>
  </thead>
  <tbody>
    <% for (item of devices) { %>
    <tr id=<%- item.Serial %> selected='no'>
      <td id="name"><%= item.DeviceName %></td>
      <td id="os"><%= item.OS %></td>
      <td id="version"><%= item.Version %></td>
      <td id="notes"><%= item.Notes %></td>
      <td id="location"><%= item.CurrentLocation %></td>
    </tr>
    <% } %>
  </tbody>
</table>

<link rel="stylesheet" href="/css/style-home.css">
<script src="js/events-home.js" type="text/javascript"></script>
