
<%- contentFor('body') %>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Available users</div>
  <div class="panel-body">
    <table class="table table-bordered table-striped" id="usersTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% for (item of items) { %>
        <tr>
          <td><%= item.Name %></td>
          <td><%= item.Email %></td>
          <td><%= item.State %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<script src="js/events-users.js" type="text/javascript"></script>

<%- contentFor('employees') %>
